body>header {
    background: #008080;
    padding: 5px;
}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
    color: white;
}

body>footer {
    background: #008080;
    padding: 5px;
    margin: 30px 0;
    text-align: right;
    color: white;
   }

#logged-in-info {
    float: right;
    margin-top: 18px;
    color: white;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}


body>aside {
    float: right;
    width: 250px;
    background: #4B0082;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
    color: lightskyblue;
    }

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
    color: white;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.formError {
    color: red;
    font-style: italic;
}

#postContent {
    position: absolute;
    width: 88%;
    color: darkblue;
    display: inline-block;
    /*height: 60px;*/
    background: palegreen;
    /*vertical-align: 500px;*/
    margin-left: 5px;
}

#regUsername {
    background: rgb(255, 255, 189);
}

#regFullname {
    background-color: lightblue;
}

#regPassword {
    background-color: lightgrey;
}

#loginUsername {
    background: lightcyan;
}

#loginPass {
    background: lightgray;
}

#users {
    color: teal;
}

#loginMessage {
    color: indianred;
}

#user {
    float: left;
    clear: left;
    height: 30px;
}

#submitPost {

}



