<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Register</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<h1>Write a post</h1>


<form th:action="@{/posts/create}" method="post">
    <p><div><label> Post Title: <input type="text" name="postTitle"/> </label></div></p>
    <p><div><label> Post Content: <input id="postContent" type="text" name="postContent"/> </label></div></p>

    <p><input id="submitPost" type="submit" value="Submit Post"/></p>


</form>

<footer th:replace="layout :: site-footer" />
</body>

</html>