<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layout :: site-head">
    <title>Register</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<h1>Create Your Account</h1>


<form th:action="@{/users/register}" method="post">
    <p><div><label> Username: <input id="regUsername" type="text" name="username"/> </label></div></p>
    <p><div><label> Full name: <input id="regFullname" type="text" name="fullName"/> </label></div></p>
    <p><div><label> Password: <input id="regPassword" type="password" name="password"/> </label></div></p>

    <p><div><input type="submit" value="Register"/></div></p>


</form>

<footer th:replace="layout :: site-footer" />
</body>

</html>
